html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
:root {
	--color: red;
	--principal: #ffa500;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-image: url('../img/semicircle.svg');
	background-repeat: no-repeat;
	background-position: left 200px top;
	background-color: var(--color);
}
.container {
	padding: 50px;
	background-color: rgba(0, 255, 255, 0.371);
}
/* HEADER--------------------------------------------------------------- */
.header {
	/* background-color: blue; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-logo {
	width: 100px;
	margin: 0 auto;
	display: block;
}
.header-square {
	width: 43px;
	height: 43px;
}
