html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
:root {
	/* principal #00ffff17 */
	--principal-color: #8db596;
	/* parner-color #685128, #92817A, #707070 */
	--partner-color: #685128;
	--contrast-color: #ffa500;
	--white-color: #fff;
	--black-color: #000;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-image: url('../img/semicircle.svg');
	background-repeat: no-repeat;
	background-position: left 200px top;
	background-color: var(--principal-color);
	overflow-x: hidden;
}

/* placeholder backgeound ---------------------------------------------------------------*/
.placeholder {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.placheholder-character-name {
	color: rgba(0, 0, 0, 0.1);
	font-size: 600px;
	text-transform: uppercase;
	justify-content: center;
	display: flex;
	align-items: center;
	z-index: 11;
	white-space: nowrap;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	user-select: none;
	margin: 0;
}
/* aside left */
.navigation {
	writing-mode: vertical-lr;
	margin-left: 75px;
	display: flex;
	justify-content: center;
}
.navigation-name {
	position: absolute;
	top: 30px;
}
.dot {
	width: 10px;
	height: 10px;
	background: black;
	border-radius: 50%;
	display: inline-flex;
}
.line {
	width: 2px;
	height: 150px;
	background: black;
	display: inline-flex;
}
.navigation-text {
	display: inline-flex;
	text-transform: uppercase;
	transform: rotate(180deg);
}
.navigation-text-name {
	margin-top: 15px;
}
.navigation-text-about {
	margin-bottom: 15px;
}
.navigation-about {
	bottom: 40px;
	position: absolute;
}
/* CONTAINER ---------------------------------------------------------------*/
.container {
	padding: 50px;
	position: relative;
	z-index: 22;
	height: 100vh;
}
/* HEADER--------------------------------------------------------------- */
.header {
	/* background-color: blue; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 100px;
}
.header-logo {
	width: 150px;
	margin: 0 auto;
	display: block;
	border: 1px solid;
}
/* main ---------------------------------------------------------------*/
.info-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}
.character-labels-container {
	width: 50%;
}
.character-name {
	font-weight: 900;
	font-size: 34px;
	white-space: nowrap;
}
.character-name-arrows-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
}
.arrow-img {
	width: 43px;
	height: 43px;
	cursor: pointer;
	border: 1px solid;
}
.character-label {
	background: var(--partner-color);
	padding: 20px;
	color: var(--white-color);
	border-radius: 10px;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	width: 70%;
}
.character-image-container {
	height: 200px;
	width: 200px;
	position: relative;
}
.character-image-container::after {
	content: '';
	display: block;
	height: 15px;
	border-radius: 50%;
	width: 250px;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: -20px;
	left: -25px;
}
.character-image {
	border-radius: 50%;
	height: inherit;
	width: inherit;
	position: absolute;
	object-fit: cover;
	object-position: 50% 0;
}
/* footer---------------------------------------------------------------*/
.footer {
	text-align: center;
}
@media screen and (max-width: 900px) {
	.navigation {
		display: none;
	}
	.header {
		justify-content: center;
	}
	.info-container {
		flex-direction: column;
	}
	.character-label {
		width: 100%;
	}
	.character-image-container {
		order: 0;
	}
	.character-labels-container {
		order: 1;
		width: 100%;
	}
	.character-name-arrows-container {
		justify-content: center;
		width: 100%;
	}
	.character-image-container::after {
		display: none;
	}
}
